<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206140637361-v863o4u740bq82i664lue78fvede7ljr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206140637361-v863o4u740bq82i664lue78fvede7ljr</string>
	<key>API_KEY</key>
	<string>AIzaSyCTwdGvtF9XhT0sjDVGhwzcLDatyYE6zjY</string>
	<key>GCM_SENDER_ID</key>
	<string>206140637361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SL.TreeHacks</string>
	<key>PROJECT_ID</key>
	<string>treehacks2020-b9a7c</string>
	<key>STORAGE_BUCKET</key>
	<string>treehacks2020-b9a7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206140637361:ios:30e12a40379f1401106290</string>
	<key>DATABASE_URL</key>
	<string>https://treehacks2020-b9a7c.firebaseio.com</string>
</dict>
</plist>